<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878129228197-jlqvu40jl0hspjc9b50e71c91im3uv36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878129228197-jlqvu40jl0hspjc9b50e71c91im3uv36</string>
	<key>API_KEY</key>
	<string>AIzaSyD5MAmBGpVBzXaAL6DXH70BFDHb2eDlRAs</string>
	<key>GCM_SENDER_ID</key>
	<string>878129228197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Task-Planner.Task-Planner</string>
	<key>PROJECT_ID</key>
	<string>task-planner-52479</string>
	<key>STORAGE_BUCKET</key>
	<string>task-planner-52479.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878129228197:ios:ffbe3b64bf1a9e48c7e04c</string>
</dict>
</plist>